<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Converter</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <form method="post">
        <fieldset>
            <legend><h1>Converter</h1></legend>
            <p>Please input numbers and select a conversion</p>
            <input name="numinp"><br>
            <input name="conversion" type="radio" value="1" checked> km to miles
            <input name="conversion" type="radio" value="2"> miles to km <br>
            <br>
            <button class="button">CONVERT</button>
        </fieldset>
    </form>

</body>
</html>